<div class="table-filter mt-4">
  <div class="filter-text text-capitalize mr-4">
    {{ "orderPage.orderHistory" | transloco }}
  </div>

  <form [formGroup]="range" (submit)="onSearch()">
    <button mat-mini-fab class="me-4" color="primary">
      <mat-icon> search </mat-icon>
    </button>

    <mat-form-field appearance="legacy" autofocus>
      <mat-label>{{ "orderPage.enterDateRange" | transloco }}</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start_date"
          placeholder="Start date"
        />
        <input
          matEndDate
          formControlName="end_date"
          #endDate
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error
        *ngIf="range.controls.start_date.hasError('matStartDateInvalid')"
      >
        {{ "orderPage.invalidStartDate" | transloco }}
      </mat-error>
      <mat-error *ngIf="range.controls.end_date.hasError('matEndDateInvalid')">
        {{ "orderPage.invalidEndDate" | transloco }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ms-3 search">
      <input
        #input
        matInput
        placeholder="{{ 'orderPage.customerName' | transloco }}"
        formControlName="customer"
      />
    </mat-form-field>
  </form>
</div>

<button
  class="add-button"
  mat-mini-fab
  color="primary"
  (click)="onAddProduct()"
>
  <mat-icon>add</mat-icon>
</button>

<div>
  <button mat-flat-button color="primary" (click)="onPrint()">
    {{ "orderPage.print" | transloco }}
  </button>

  <button class="mx-3" mat-flat-button color="primary" (click)="onExportCSV()">
    {{ "orderPage.ExportCSV" | transloco }}
  </button>

  <button mat-flat-button color="primary" (click)="onUpdateStatus()">
    {{ "orderPage.UpdateStatus" | transloco }}
  </button>
</div>
