<div class="image-upload m-5">
  <div class="d-flex align-items-center justify-content-between">
    <label for=""> {{ "appManagerPage.table.image" | transloco }} </label>

    <div class="ms-3">
      <input
        type="file"
        name="file"
        id="file"
        multiple
        class="inputfile"
        (change)="selectFile($event)"
        accept="image/png, image/jpg, image/jpeg"
      />

      <label for="file" class="upload-file" color="primary">
        <button mat-stroked-button color="primary">
          <mat-icon>collections</mat-icon>
          {{ "appManagerPage.table.browseImage" | transloco }}
        </button>
      </label>
    </div>
  </div>
</div>

<div class="mt-3">
  <button
    class="ms-3 upload-file-button"
    (click)="uploadToFirebase()"
    mat-stroked-button
    color="primary"
    *ngIf="selectedFileNames.length > 0"
  >
    <mat-icon> cloud_upload </mat-icon>
    <span *ngIf="!uploadingAll">
      {{ "appManagerPage.table.upload" | transloco }}
    </span>
    <span *ngIf="uploadingAll"> uploading... </span>
  </button>
</div>

<div
  *ngIf="!uploadingAll && allSuccess"
  class="alert alert-success m-3"
  role="alert"
>
  All images is uploaded
</div>

<div class="d-flex image-preview-wrapper mt-4">
  <div
    *ngFor="let preview of previews; let i = index"
    class="preview-wrapper me-3"
  >
    <button
      class="remove-image-button mat-elevation-z4"
      mat-mini-fab
      color="primary"
      (click)="removeImage(i)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <img [src]="preview" class="preview" />
  </div>
</div>
