
.upload-file {
  outline: none;
  cursor: pointer;
}

.inputfile:focus {
  outline: none;
  border: none;
}

.image-preview-wrapper {
  max-width: 1064px;
  margin: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  flex-direction: column;
  max-height: 500px;
}

.preview {
  max-width: 165px;
}

.preview-wrapper {
  position: relative;
}

.remove-image-button {
  position: absolute;
  top: 8px;
  left: 120px;
  line-height: 21px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile {
  cursor: pointer;
}

.inputfile + label * {
  pointer-events: none;
}

.progress-bar {
  margin: 1rem 0;
  height: 0.75rem;
}

.image-upload {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  width: 50%;
}

.upload-file-button:hover {
  background: var(--hanul-primary);
  color: #fff;
}
