<div class="d-flex align-item-center justify-content-between mb-4">
  <strong class="text-capitalize">
    <ng-content select="[title]"></ng-content>
  </strong>

  <ng-content select="[closeDialog]"></ng-content>
</div>

<div class="main">
  <ng-content select="[main]"></ng-content>
</div>

<div class="mt-3 d-flex justify-content-end">
  <ng-content select="[action]"></ng-content>
</div>

<!-- 
<app-tab-layout>
  <div title></div>
  <div closeDialog></div>
  <div main></div>
  <div action></div>
</app-tab-layout> 
-->
