<div>
  <form [formGroup]="form">
    <table
      mat-table
      [dataSource]="dataSource"
      formArrayName="inventories"
      matSort
      class="w-100 bg-transparent"
    >
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef"
      >
        <ng-container *ngIf="column.columnDef !== 'select'; else selectHeader">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="{ 'action-header': column.columnDef === 'action' }"
          >
           {{ "lossPage.detailTable."+ column.columnDef | transloco }}
          </th>
        </ng-container>

        <ng-template #selectHeader>
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="primary"
              class="pe-2"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              class="pe-2"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-template>

        <ng-container *ngIf="column.columnDef !== 'action'; else actionCell">
          <ng-container
            *ngIf="column.columnDef === 'serialNumber'; else others"
          >
            <td
              mat-cell
              *matCellDef="let row; let rowIndex = index"
            >
              <p
                *ngFor="let seri of row.serialNumber"
                matTooltip="{{ seri }}"
                matTooltipClass="seri-hover"
              >
                {{ seri }}
              </p>
            </td>
          </ng-container>

          <ng-template #others>
            <td
              mat-cell
              *matCellDef="let row; let rowIndex = index"
            >
              <span *ngIf="!row.isEdit">
                {{ column.cell(row) }}
              </span>

              <div *ngIf="row.isEdit" [formGroupName]="rowIndex">
                <input
                  class="cell-input"
                  [formControlName]="column.columnDef"
                />
              </div>
            </td>
          </ng-template>
        </ng-container>

        <ng-template #actionCell>
          <td
            mat-cell
            *matCellDef="let row; let rowIndex = index"
          >
            <button mat-icon-button type="button" matTooltip="수정">
              <mat-icon svgIcon="hn-save"></mat-icon>
            </button>

            <button
              *ngIf="!row.isEdit"
              (click)="
                $event.stopPropagation();
                row.isEdit = true;
                selectedRowIndex = rowIndex;
              "
              mat-icon-button
              color="primary"
              aria-label="Edit row"
              mat-icon-button
              type="button"
              matTooltip="수정"
            >
              <mat-icon svgIcon="hn-edit"></mat-icon>
            </button>

            <button
              *ngIf="row.isEdit"
              (click)="
                $event.stopPropagation();
                row.isEdit = false;
                onSaveInline(rowIndex)
              "
              mat-icon-button
              color="primary"
              aria-label="Edit row"
            >
              <mat-icon> save </mat-icon>
            </button>

            <button mat-icon-button type="button" matTooltip="수정">
              <mat-icon svgIcon="hn-delete"></mat-icon>
            </button>
          </td>
        </ng-template>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </form>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    class="bg-transparent"
  ></mat-paginator>
</div>
