<div class="table-search">
    
  <span class="type-name">{{typeName}}</span>
  <button mat-icon-button class="mx-4">
    <mat-icon class="search-icon">search</mat-icon>
  </button>

  <input type="text" class="search-input" placeholder="Year">
  <input type="text" class="search-input" placeholder="Month">
  <input type="text" class="search-input" placeholder="Date">

  <mat-icon class="search-icon mx-4">show_chart</mat-icon>

  <input type="text" class="search-input" placeholder="Year">
  <input type="text" class="search-input" placeholder="Month">
  <input type="text" class="search-input" placeholder="Date">

  <div class="ml-5 d-flex align-items-center search-field">
    <mat-icon matPrefix class="search-icon me-3">search</mat-icon>
    <mat-form-field class="search">
      <input matInput placeholder="Customer name" #input>
    </mat-form-field>
  </div>

</div>