.manager-table {
  background-color: #f6f6f6;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
/* .no-data {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  background-color: #fafafa; 
  padding: 5rem;
  height: 75vh;
} */

.hide-progress-bar {
  height: 4px;
  width: 100%;
  padding: 0;
}

.header-cell {
  font-size: 0.9rem !important;
  font-weight: bold !important;
  color: #717171;
}

.table-row {
  border-bottom: 0;
}

.list-group {
  width: 250px;
}

.list-group-item {
  padding: 0.5rem 0;
  background-color: #d7d3d3;
}

.header-cell {
  font-size: 0.9rem !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.54);
}

.mat-paginator {
  background-color: #f6f6f6;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.no-data {
  background-color: #f6f6f6;
  padding-left: 1.5rem;
  padding-top: 1rem;
}
