<form [formGroup]="productForm" class="product-form p-4">
  <app-tab-layout>
    <div title>{{ action }} {{ pageName }}</div>
    <div closeDialog>
      <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div main>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="legacy">
            <mat-label> {{"appProductPage.table.sku" | transloco }} </mat-label>
            <input matInput formControlName="sku" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label> {{"appProductPage.table.app_name" | transloco }} </mat-label>
            <input matInput formControlName="app_name" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label> {{"appProductPage.table.name" | transloco }} </mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.locality" | transloco }}</mat-label>
            <input matInput formControlName="locality" />
          </mat-form-field>
          <!-- <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.dob" | transloco }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

          <!-- <div class="d-flex">
            <mat-form-field appearance="legacy" class="pe-3">
              <mat-label> {{"appProductPage.table.mobile_no" | transloco }} </mat-label>
              <input type="number" matInput formControlName="mobile_no" />
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>{{"appProductPage.table.phone_no" | transloco }} </mat-label>
              <input type="number" matInput formControlName="phone_no" />
            </mat-form-field>
          </div> -->

        </div>
        <div class="col-md-4">
          <mat-form-field appearance="legacy">
            <mat-label>
              {{ "orderPage.table.origin" | transloco }}
            </mat-label>
            <input matInput formControlName="origin" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.meat_category" | transloco }}</mat-label>
            <input matInput formControlName="meat_category" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.part_category" | transloco }} </mat-label>
            <input matInput formControlName="part_category" />
          </mat-form-field>
          
          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.meat" | transloco }}</mat-label>
            <input matInput formControlName="meat" />
          </mat-form-field>

        </div>

        <div class="col-md-4">
          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.part" | transloco }} </mat-label>
            <input matInput formControlName="part" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.grade" | transloco }}</mat-label>
            <input matInput formControlName="grade" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.cost" | transloco }}</mat-label>
            <input matInput formControlName="cost" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>{{"appProductPage.table.price" | transloco }}</mat-label>
            <input matInput formControlName="price" />
          </mat-form-field>
          
        </div>
      </div>
    </div>

    <div action>
      <button
        *ngIf="action === 'edit'"
        mat-flat-button
        color="primary"
        class="text-capitalize mx-2"
        (click)="doAction()"
      >
        <mat-icon>save</mat-icon>{{"appProductPage.save" | transloco }}
      </button>
      <button
        *ngIf="action === 'add'"
        mat-flat-button
        color="primary"
        class="text-capitalize mx-2"
        (click)="doAction()"
      >
        <mat-icon>add</mat-icon>{{"appProductPage.add" | transloco }}
      </button>

      <!-- <button
        mat-flat-button
        color="primary"
        class="text-capitalize mx-2"
        (click)="resetAll()"
        *ngIf="action === 'edit'"
      >
        <mat-icon>restart_alt</mat-icon>{{"appProductPage.resetAll" | transloco }}
      </button> -->
    </div>
  </app-tab-layout>
</form>
