<div>
  <form [formGroup]="form" class="p-0">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      formArrayName="costPrice"
      class="w-100 bg-transparent"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="pe-3 checkbox">
          <mat-checkbox
            color="primary"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row" class="pe-3 checkbox">
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef class="custom-th" mat-sort-header>
          {{ "payableReceivablePage.table.tax" | transloco }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div
            *ngIf="!element.isEdit"
            class="amount-own-value"
            [ngClass]="{ 'd-none': type === typeEnum.SUPPLIER }"
          >
            {{ element.tax }}
          </div>
          <div
            *ngIf="element.isEdit"
            [formGroupName]="element.id"
            (click)="$event.stopPropagation()"
          >
            <input class="cell-input" formControlName="amountOwe" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="amountBought">
        <th mat-header-cell *matHeaderCellDef class="custom-th" mat-sort-header>
          {{ "payableReceivablePage.table.amountBought" | transloco }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div
            *ngIf="!element.isEdit"
            class="amount-own-value"
            [ngClass]="{ 'd-none': type === typeEnum.SUPPLIER }"
          >
            {{ element.amountBought }}
          </div>
          <div
            *ngIf="element.isEdit"
            [formGroupName]="element.id"
            (click)="$event.stopPropagation()"
          >
            <input class="cell-input" formControlName="amountBought" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="amountPaid">
        <th mat-header-cell *matHeaderCellDef class="custom-th" mat-sort-header>
          {{ "payableReceivablePage.table.amountPaid" | transloco }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div
            *ngIf="!element.isEdit"
            class="amount-own-value"
            [ngClass]="{ 'd-none': type === typeEnum.SUPPLIER }"
          >
            {{ element.amountPaid }}
            <!-- {{ payableForm.controls[element.id].value.amountPaid }} -->
          </div>
          <div
            *ngIf="element.isEdit"
            [formGroupName]="element.id"
            (click)="$event.stopPropagation()"
          >
            <input class="cell-input" formControlName="amountPaid" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="amountOwe">
        <th mat-header-cell *matHeaderCellDef class="custom-th" mat-sort-header>
          {{ "payableReceivablePage.table.totalAmountOwe" | transloco }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div
            *ngIf="!element.isEdit"
            class="amount-own-value"
            [ngClass]="{ 'd-none': type === typeEnum.SUPPLIER }"
          >
            {{ element.amountOwe }}
            <!-- {{ payableForm.controls[element.id].value.amountOwe }} -->
          </div>
          <div
            *ngIf="element.isEdit"
            [formGroupName]="element.id"
            (click)="$event.stopPropagation()"
          >
            <input class="cell-input" formControlName="amountOwe" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="custom-th" mat-sort-header>
          {{ "payableReceivablePage.table.date" | transloco }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div
            *ngIf="!element.isEdit"
            class="amount-own-value"
            [ngClass]="{ 'd-none': type === typeEnum.SUPPLIER }"
          >
            {{ element.date | date: "YYYY-mm-dd" }}
            <!-- {{ payableForm.controls[element.id].value.date }} -->
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef class="custom-th" mat-sort-header>
          {{ "payableReceivablePage.table.method" | transloco }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div
            *ngIf="!element.isEdit"
            class="amount-own-value"
            [ngClass]="{ 'd-none': type === typeEnum.SUPPLIER }"
          >
            {{ element.method }}
            <!-- {{ payableForm.controls[element.id].value.method }} -->
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        class="table-row"
        *matRowDef="let row; let element; columns: displayedColumns"
      ></tr>
    </table>
  </form>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
